:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002f52;
}

hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px){
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista-rodape__link {
        color: #474646;
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: #858585;
    }

    .rodape__titulo {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape{
        border-left: 1px solid rgb(153, 151, 151);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}